<div class="container">
  <form class="example-container" [formGroup]="formaUtils" (submit)="saveAll()">
    <div class="example-flex-container grupo1">
      <button type="button" (click)="addMaterialButtonClick()" class="btn-agregar espace-button" mat-raised-button color="primary">+</button>
      <button type="button" (click)="deletAll()" class="btn-agregar" mat-stroked-button color="warn">ElimnarTodo</button>
    </div>
    <div formArrayName="materials">
      <div class="example-flex-container beforeds" *ngFor="let item of materialsList.controls;  index as i" [formGroupName]="i">
        <div class="grupo2">
          <mat-form-field class="example-full-width grupo-child" appearance="fill">
            <mat-label>Utiles escolares</mat-label>
            <input
              matInput
              class="form-group"
              formControlName="name"
            >
            <mat-error *ngIf="item.controls.name.errors?.required? true: false">Valor requerido</mat-error>
            <mat-error *ngIf="item.controls.name.errors?.pattern? true: false">(Sin caracteres especiales)</mat-error>
          </mat-form-field>
          <mat-checkbox class="grupo-child" formControlName="condition">Aceptar</mat-checkbox>

          <button type="button" (click)="eliminar(i)" class="btn-agregar grupo2-3" mat-raised-button color="warn">Elimnar</button>
        </div>
        <mat-error *ngIf="conditionOfMaterial(i)">Marca "Aceptar" para poder guardar el material</mat-error>
      </div>
    </div>

    <div class="example-flex-container grupo3">
      <button type="submit" class="btn-agregar espace-button" mat-stroked-button color="accent">Guardar</button>
      <button type="button" class="btn-agregar" mat-stroked-button color="primary" (click)="limpiar()">Limpiar</button>
    </div>
  </form>
</div>

<mat-list class="grupoGuardados">
  <div class="grupo-child" *ngFor="let item of guardados;  index as i">
    <mat-list-item>{{item.name}}</mat-list-item>
    <mat-divider></mat-divider>
  </div>
</mat-list>