.container {
  padding: 15px;
  width: 440px;
  margin: 0px auto;
}

.grupo1 {
  margin-bottom: 25px;
}

.grupo2 {
  width: 390px;
  margin: 0px auto;
  border: 1px black dashed;
  padding: 10px;
}

.grupoGuardados {
  width: 390px;
  margin: 0px auto;
  padding: 10px;
}

.beforeds {
  width: 390px;
  margin: 0px auto;
  margin-bottom: 20px;
}

.grupo-child {
  margin-right: 15px;
}

.grupo3 {
  margin: 0px auto;
  width: 200px;
}

.espace-button {
  margin-right: 12px;
}

.m {
  margin: 0px;
  padding: 0px;
}